body {
    background: rgb(150, 200, 150);
  }

#header {
  background: rgb(255, 255, 255);

}
#hero {
  background-image: url(./img/Hero_section_background.jpg) ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 800px;
}
.paragraph-hero {
  color: white;
  font-size: 35px;
  text-align: center;
  

}