
.nav-link {
  display: inline;
  padding-left: 25px;
}

.nav a {
  color: blue;
}

.nav-list {
  text-align: right;
  padding-right: 50px;
}

.hero-section {
  height: 600px;
  text-align: center;
  font-size: 30px;
  background-image: url(img/sun_background.jpg);
  background-size: cover;
  margin-bottom: 40px;
}

.hero-center-div {
  padding-top: 200px;
}

.hero-p {
  margin: 0px;
  line-height: 50px;
  color: white;
}

footer {
  color: white;
  background-color: rgb(19, 19, 19);
  height: 50px;
  margin-bottom: 0px;
  text-align: center;
  padding-top: 25px;
}

.side-img {
  display: inline;
  height: 250px;
  width: 250px;
}

.desc-p {
  display: inline;
  vertical-align: top;
}